extends layout

block content
  div.right#search
    h1 検索
  div#title
    h1 TODOリスト
  .form
    form#form
        input.b#submit(type='submit',value='リストを追加する')  
      p#contentForm
        input#text.textbox(type='text',name='text')
      p#limitForm
        input#limit.textbox(type='date',name='limit')
  // ToDo一覧を表示する
  .list
// jQueryとtodo.jsを読み込む
block scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='javascripts/todo.js')